body{
  background-image: url("spikes.png");
  font-family:'Georgia', Times, 'Times New Roman', serif ;

}
.header{
  background-color: #ffffff;
  /* width: 100%; */
  height: 100%;
  border: thin #cccccc;
  font-family:'Georgia', Times, 'Times New Roman', serif;
  /* padding-right: 10%; */
  /* padding-left: 10%; */
  padding-top: 0px;
  margin-top: 0px;
}
.name{
  background-color: #4aaaa5;
  color: whitesmoke;
  text-align: center;
  width:400px;
  height: fit-content;
  padding-top: 25px;
  padding-bottom:15px;
  float: left;
  display: inline;
  margin-bottom: 0;
}
.externalLinks{
  color:#90918c;
  font-size: 10pt;
  width: fit-content;
  display: inline;
  float:right;
  padding-top: 80px;
}
.clearFix::after{
  content:"" ;
  display: block;
  clear: both;
}
.aboutMe{
  color: #4aaaa5;
}
.content{
  width: 800px;
  height: 500px;
  background-color: whitesmoke;
  color: #777777;
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
  padding-right: 10%;
  padding-left: 10%;
   margin-right: 15%;
  margin-left: 15%; */
   margin: 0 auto;
  height: fit-content;}

  button{
    background-color: #4aaaa5;
    color: #cccccc;
  }

.footer{
  background-color: #666262;
    border-top: solid 8px #4aaaa5;
    text-align: center;
    /* padding-bottom: 5px; */
    font-size: smaller;
    position: fixed;
    bottom: 0;
    height: 50px;
    width: 100%;
    margin: 0 auto;
  }
.container{
  margin: 0 auto;
  width: 1080px;
}